@charset "UTF-8";

/* Todas as demais mídias */

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita por Vinicius de Andrade Santana.';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    .print {
        display: block;
    }

    .phone {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    .tablet {
        display: block;
    }
    
    .phone {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    .pc {
        display: block;
    }

    .phone {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    .tv {
        display: block;
    }

    .phone {
        display: none;
    }
}